{# ne pas oublier l'heritage #}
{% extends "base.html.twig" %}

{# pour utiliser un formulaire bootstrap et ne pas s'embeter a creer les div 
doc : https://symfony.com/doc/current/form/bootstrap4.html
#}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

{# pour adapter le titre comme le bouton #}
<h1>
    {% if editMode %}
        Enregistrer les Modifications
    {% else %}
        Ajouter un Article
    {% endif %}
</h1>

{# le bootstrap_4_layout va construire les div automatiquement #}
    
    {# plus besoin du {{ form_start(formArticle)}} mais on peut le garder pour mettre des choses
    au debut du formulaire
     #}
     {{ form_start(formArticle)}}

    {# sans le layout bootstrap j'aurai dut ecrire une div pour chaques champ
    de la forme <div>  {{ form_widget(formArticle.title)}} </div>
                <div>  {{ form_widget(formArticle.contenu)}} </div>
                <div>  {{ form_widget(formArticle.image)}} </div>
    et adapter la fonction sur le controleur
     #}

    {# laisse le controller gerer les options #}
    {# {{ form_widget(formArticle)}} #}


    {# meilleure pratique est d'admnistrer le html dans le template
    admnistre le champ, le label (placeholder) et les erreurs
     #}
    {# N'OUBLIE PAS LES OPTIONS EN TWIGS UTILISENT DES CROCHETS {} #}

{# je cree mon champs  form_row. je vais rechercher l'attribut 'formArticle' dans le render de ma fonction dans mon controller,
je lui rajoute la valeur que il doit retrouver dans l'objet Article qui est .title 
je crée un tableau d'option avec des crochets, car on est sur twig ou je passe l'option attr qui comprendra un autre tableau qui contiendra le placeholder
 #}
    {{ form_row(formArticle.title,{'attr' : {'placeholder' : "Titre de l'article" }})  }}
    {{ form_row(formArticle.content, {'attr' : {'placeholder' : "Contenu de l'article" }})  }}      
    {{ form_row(formArticle.image, {'attr' : {'placeholder' : "URL de l'Image" }})  }}

    {# j'ecrit mon bouton en manuel  #}
    <button type="submit" class="btn btb-success">
    {# pour changer la valeur venant du render de la fonction form du controller
    l'edit Mode sera booléen et admnistrera la valeur
     #}
      {% if editMode %}
      Enregistrer les Modifications
      {% else %}
      Ajouter un Article   
      {% endif %}
    </button>

   {# plus besoin du {{ form_end(formArticle) }} mais pareil que le start #}
   {{ form_end(formArticle) }}

{% endblock %}