{# {% %} executera l'extension base.html.twig #}
{% extends 'base.html.twig' %}
{# {% %} executera la fonction titre #}
{% block title %}Hello BlogController!{% endblock %}
{# {% %} executera l'action body #}
{% block body %}
    <section clas="Articles">

    {# je met dans une boucle for de twig le nombre d'article trouvé dans $articles = $repo->findAll(); dans BlogController.php 
    et utilisera getTitle sans que je lui specifie
    #}
    {% for article in articles %}
    <article>
        <div class="titreArticle">
        {# je demande a twig d'afficher les titres recuperer dans la Bdd #}
            <h2>{{article.title}}</h2>
        </div>
        <div class="metadata">
        {# pour la date je suis obligé d'utilisé un filtre 
        https://twig.symfony.com/doc/2.x/filters/index.html #}
            <p>Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la categorie Informatique</p>
        </div>
        <div class="content">
        {# pour enlever les balises html j'utilise le filtre raw #}
            <p>{{ article.content | raw }}</p>
        </div>
        <div class="image">
            <img alt="" src="{{article.image }}">
        </div>
        <div class="boutonArticle">
            {# j'utilise {{}} pour permettre l'affichage de l'expression path et communiquer avec le name du controller
            path prend deux parametres le nom de la route, et les parametres si besoin #}
             <a href="{{ path('blog_show', {'id':article.id}) }}" class="btn btn-primary">Lire</a>
        </div>
    </article>
    {% endfor %}%}
             
    </section>
{# {% %} executera la fin du blog #}
{% endblock %}
        
