{# j'utilise une commande twig pour etendre le template de base #}
{% extends 'base.html.twig' %}

{# le block body comme cela va etre copié dans le template de base par twig #}
{% block body %}

<article>
        <div class="titreArticle">
            <h2>{{ article.title }}</h2>
        </div>
        <div class="metadata">
            <p>Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la categorie Informatique</p>
        </div>
        <div class="content">
        {# pour enlever les balises html j'utilise le filtre raw #}
            <p>{{ article.content | raw }}</p>
        </div>
        <div class="image">
             <img alt="" src="{{ article.image }}">
        </div>
        <div class="boutonArticle">
            {# j'utilise {{}} pour permettre l'affichage de l'expression path et envoyer la route a l'annotation @ correspondante #}
             <a href="/blog" class="btn btn-primary">Retour</a>
        </div>
</article>

{% endblock %}